<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Image Viewer</title>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="./app.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>

    </head>

    <body ng-app="felApp" ng-controller="MainCtrl">
        <div layout="column" layout-align="center center" ng-hide="setTraversed || testCompleted">
            <br>
            <img src="{{currentImageSrc}}">
            <br>
            <md-button class="md-primary md-raised" ng-click="loadNextImage()">Proceed to Next Image</md-button>
        </div>
        <div layout="column" layout-align="center center" ng-show="setTraversed">   
            <h2>You have viewed the first image set. Please inform your experimenter!
                Once you have completed the 1st post-experiment questionnaire, click on "Continue" once you're ready for the next one.</h2>
            <md-button class="md-primary md-raised" ng-click="loadNextSet()">Continue
            </md-button>
        </div>
        <div layout="column" layout-align="center center" ng-show="testCompleted">   
            <h2>Thank you for your participation! Your experimenter will have you complete the 2nd post-experiment questionnaire.</h2>
        </div>
    </body>
</html>
